.todoLgoin{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

#containerLogin{
  height: 60%;
  width: 40rem;

}

.formDatos{
  padding: 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-around;

}

input{
  height: 3rem;
  width: 90%;
  font-size: large;
}
label{
  font-size: x-large;
}
#sentLogin{
  height: 3rem;
  width: 90%;
  background-color: black;
  color: white;
}
.avisoLogin{
  font-size: small;
}